<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css_files/login-modal_styles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div id="login-modal-content">
        <span class="close-button">&times;</span>

        <h1 id="heading">LOG IN</h1>

        <div id="heading-space"></div>

        <form action="">
            <input class="inputs" type="text" placeholder="E-mail address">

            <div id="input-field-space"></div>

            <input class="inputs" type="password" placeholder="Password">
        </form>

        <div id="button-space"></div>
        
        <center>
            <button id="login-button">Login</button>
        </center>

        <!-- <a href=""></a> -->

    </div>

</body>

</html>
