<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="password.css">
</head>
<body>
    <div class="container" >
        <div class="change_password">
            <div class="title1">
                <p1 class="text1">Change Password</p1>
            </div>

            <p class="text2">Current Password</p>
            <input type="text" class="input-box">

            <p class="text3">New password</p>
            <input type="text" class="input-box">

            <p class="text3">Retype New Password </p>
            <input type="text" class="input-box" >

            <button class="btn" onclick="closepopup()">Change Password</button>

        </div>

    </div>
</body>

<script>
    let popup = document.getElementById("popup");



    function closepopup() {
        popup.classList.add("close-popup");
    }

</script>
</html>