<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('play_blueprint.static', filename='css/title-bar_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('play_blueprint.static', filename='css/collapsible-menu_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('play_blueprint.static', filename='css/game-options_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('play_blueprint.static', filename='css/login-modal_styles.css') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <!-- The title bar -->
    <div id="title-bar">
        <button id="collapsible" title="Menu">
            <img src="{{ url_for('play_blueprint.static', filename='images/icons/list.svg') }}" alt="Menu Button" width="35" height="35">

        </button>

        <h1 id="game-name">SudokuVerse</h1>
        <img id="game-icon" src="{{ url_for('play_blueprint.static', filename='images/icons/app_icon.png') }}" alt="Game Icon" width="35" height="35">

        <button id="personal-profile" title="Personal Profile">
            <img src="{{ url_for('play_blueprint.static', filename='images/icons/person-lines-fill.svg') }}" alt="Personal Profile" width="35" height="35">

        </button>

    </div>

    <!-- The content of the menu button -->
    <div id="menu-content">
        <div id="title-space"></div>

        <div id="main-content" role="group">
            <button type="button" class="menu-options">PLAY</button>
            <button type="button" class="menu-options">HOW TO PLAY</button>
            <button type="button" class="menu-options">LEADERBOARD</button>
            <button type="button" class="menu-options">ABOUT</button>
        
        </div>

        <div id="new-user-content" role="group">
            <div id="options-space"></div>
            
            <button type="button" class="menu-options">SIGN UP</button>
            <button type="button" class="menu-options">LOG IN</button> 

        </div>

    </div>

    <!-- Modals -->
    <div class="modals" id="sign-up"></div>

    <div class="modals" id="log-in">
        <div id="login-modal-content">
            <span class="close-button">&times;</span>
    
            <h1 id="heading">LOG IN</h1>
    
            <div id="heading-space"></div>
    
            <form action="">
                <input class="inputs" type="text" placeholder="E-mail address">
    
                <div id="input-field-space"></div>
    
                <input class="inputs" type="password" placeholder="Password">
            </form>
    
            <div id="button-space"></div>
            
            <center>
                <button id="login-button">Login</button>
            </center>
    
            <!-- <a href=""></a> -->
    
        </div>

    </div>

    <!-- The game options -->
    <div id="game-options">
        <center>
            <div class="space"></div>

            <h2 class="options-label">Game difficulty</h2>

            <div class="button-category" role="group">
                <button type="button" class="inactive-button">SIMPLE</button><br>
                <div class="space"></div>

                <button type="button" class="inactive-button">MEDIUM</button><br>
                <div class="space"></div>

                <button type="button" class="inactive-button">COMPLEX</button>

            </div>


            <div class="space"></div>

            <h2 class="options-label">How do you want <br>to play</h2>

            <div class="button-category" role="group">
                <button type="button" class="inactive-button">WITH SELF</button><br>
                <div class="space"></div>

                <button type="button" class="inactive-button">WITH FRIEND</button><br>
                <div class="space"></div>

                <button type="button" class="inactive-button">WITH RANDOM</button>

            </div>

        </center>

    </div>

</body>

<!-- Functionalities -->
<script src="{{ url_for('play_blueprint.static', filename='js/collapsible-menu_functionalities.js') }}"></script>
<script src="{{ url_for('play_blueprint.static', filename='js/game-options_functionalities.js') }}"></script>
<script src="{{ url_for('play_blueprint.static', filename='js/modal_functionalities.js') }}"></script>

<!-- Media Queries -->
<script src="{{ url_for('play_blueprint.static', filename='js/collapsible-menu_media-queries.js') }}"></script>

</html>
