<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="Profile.css">
</head>
<body>
    <div class="container" >
        <div class="Profile">
            <div class="title1">
                <p1 class="text1">Profile</p1>
            </div>

            <p class="text2">Username</p>
            <p class="info">abc</p>

            <p class="text3">Email </p>
            <p class="info">sample@email.com</p>

            <p class="text3">Date of Birth </p>
            <p class="info">xx/xx/xxxx</p>

            <button class="btn" onclick="closepopup()">Log Out</button>

        </div>

    </div>
</body>

<script>
    let popup = document.getElementById("popup");



    function closepopup() {
        popup.classList.add("close-popup");
    }

</script>
</html>