<!DOCTYPE html>
<html lang="en">
    <head>
        <title>sign up window</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container" >
            
            
            <div class="sign-up-form">
                <h1><font color="black">Welcome to</font><font color="#f52222"> Sudoku!</font></h1>
                <p class="text">Register your account</p>
                <p>Username</p>
                <input type="text" class="input-box"  >
                <p>Date of Birth</p>
                <input type="date" class="input-box">
                <p>Email</p>
                <input type="email" class="input-box" >
                <p>Passward</p>
                <input type="password" class="input-box" >
                <button class="btn1" onclick="closepopup()">Create account</button>
                <p>Already have an account?<a href='#'>Log in</a></p>
            

           
            </div>
        </div>
    </div>
    <script>
        let popup = document.getElementById("popup");
        function openpopup()
        {
            popup.classList.add("open-popup");
        }
        function closepopup()
        {
            popup.classList.add("close-popup");
        }
    </script>
    </body>
    
</html>