:root {
    --options-width: 210px;
}


#play-options {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 505px;
    width: 366px;
    border: none;
    border-radius: 15px;
    background-color: var(--div-color);
}


#option-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: var(--options-width);
    column-gap: 3px;
    position: relative;
    top: 6.5%;
    place-items: center;
    margin: 0 auto;
}


.icon-buttons {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 8px;
    background-color: var(--bg-color);
    cursor: pointer;
    user-select: none;
}

.icon-buttons:hover { background-color: #383838; }


.icons { margin: auto auto; }

#undo-icon { margin-top: 3px; }


#option-ids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: var(--options-width);
    column-gap: 2px;
    position: relative;
    top: 8%;
    margin: 0 auto;
    justify-items: center;
}


.option-names {
    font-family: var(--font);
    font-weight: 550;
    color: white;
    font-size: 15px;
    user-select: none;
}


#hints-used {
    position: relative;
    font-family: var(--font);
    font-size: 22px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 0 auto;
    top: 13%;
    user-select: none;
}


#number-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 9.5%;
    position: relative;
    top: 18%;
    width: 300px;
    row-gap: 5px;
}


.numbers {
    width: 95px;
    height: 95px;
    font-family: var(--font);
    font-size: 35px;
    font-weight: 400;
    margin: auto auto;
    background-color: var(--bg-color);
    border: none;
    border-radius: 8px;
    user-select: none;
}


.enabled {
    color: white;
    cursor: pointer;
}

.enabled:hover { background-color: #383838; }


.disabled { color: #777777; }

.disabled:hover { background-color: var(--bg-color); }
