:root {
    --theme-color: #E36950;
    --bg-color: #2B2B2B;
    --div-color: #212121;
    --font: 'Metropolis';
}


body { overflow-x: hidden; }


#page-container {
    height: calc(100% - 60px);
    width: 100%;
    position: absolute;
    margin-top: 45px;
}


#board-container {
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -325px;
    margin-left: -450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px 500px auto;
    align-items: center;
    justify-items: center;
    width: 900px;
    height: fit-content;
    column-gap: 40px;
}


#top-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 257px 168px auto;
    position: absolute;
    width: 500px;
    padding: 10px 0px;
    height: 60px;
    gap: 50px 20px;
    align-content: center;
}


#difficulty {
    font-family: var(--font);
    font-size: 24px;
    font-weight: 600;
    color: white;
    width: max-content;
}


#timer-box {
    display: grid;
    grid-template-columns: auto;
    align-self: center;
    background-color: var(--theme-color);
    color: white;
    height: 50px;
    width: auto;
    border-radius: 5px;
    user-select: none;
}


@font-face {
  font-family: 'IBM Plex Mono';
  src: url('../fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


#timer {
    position: relative;
    font-weight: 500;
    font-size: 26px;
    font-family: 'IBM Plex Mono', monospace;
    align-self: center;
    width: 125px;
    height: auto;
    text-align: right;
    left: 14%;   
}


#pause-play {
    display: flex;
    align-self: center;
    height: 41px;
    width: 41px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: var(--div-color);
    cursor: pointer;
}

#pause-play:hover { background-color: #383838; }


#pause-icon {
    justify-self: center;
    align-self: center;
}


.coloured-text { color: var(--theme-color); }


#grid-container-1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    height: 500px;
    width: 500px;
    background-color: white;
    border: 2px solid black;
}


.grid-item {
    display: flex;
    font-size: 29px;
    font-family: var(--font);
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;
    user-select: none;
}


.type-1, .type-3 { border-right: 2px solid black; }

.type-2, .type-3 { border-top: 2px solid black; }


.row-1, .row-2, .row-3, .row-4, .row-5, .row-6, .row-7, .row-8, .row-9,
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9,
.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9 {
    background-color: white;  /* #FFECB9 - For whole row on click, #FFDD86 - On click */
}


.unfilled { color: white; }

.filled { color: rgb(233, 130, 39); }


.active { background-color: #FFDD86; }


#bottom-bar {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: grid;
    width: 500px;;
    padding: 5px;
}

#mistakes {
    text-align: center;
    justify-self: center;
    font-family: var(--font);
    font-size: 24px;
    font-weight: 600;
    color: white;
    width: fit-content;
}


#grid-container-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: none;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: center;
}


#grid-image {
    grid-column: 1 / 2;
    grid-row: 1 / 2;    
    user-select: none;
    pointer-events: none;
    width: 504px;
    height: 504px;
}


#quit-game {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;
    width: 190px;
    height: 60px;
    background-color: var(--theme-color);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 1px rgba(227, 105, 80, 0.6);
    cursor: pointer;
    font-family: var(--font);
    font-size: 24px;
    color: white;
    font-weight: 700;
    position: relative;
    top: 30px;
    user-select: none;
}

#quit-game:hover { filter: brightness(110%) saturate(110%); }
