<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('gameplay_blueprint.static', filename='css/grid_styles.css') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Grid</title>

</head>

<body>
    <div id="grid-container">
        {% for attr in cell_attributes %}
            {% if attr[3] == 0 %}
                {% if partial[attr[0] - 1][attr[1] - 1] == 0 %}
                    <div class="grid-item row-{{ attr[0] }} col-{{ attr[1] }} grid-{{ attr[2] }}"></div>
                {% else %}
                    <div class="grid-item row-{{ attr[0] }} col-{{ attr[1] }} grid-{{ attr[2] }}">{{ partial[attr[0] - 1][attr[1] - 1] }}</div>
                {% endif %}

            {% else %}
                {% if partial[attr[0] - 1][attr[1] - 1] == 0 %}
                    <div class="grid-item type-{{ attr[3] }} row-{{ attr[0] }} col-{{ attr[1] }} grid-{{ attr[2] }}"></div>
                {% else %}
                    <div class="grid-item type-{{ attr[3] }} row-{{ attr[0] }} col-{{ attr[1] }} grid-{{ attr[2] }}">{{ partial[attr[0] - 1][attr[1] - 1] }}</div>
                {% endif %}

            {% endif %}
        
        {% endfor %}

    </div>

</body>

<script src="{{ url_for('gameplay_blueprint.static', filename='js/grid_functionalities.js') }}"></script>

</html>
