body {
    background-color: #2B2B2B;
    width: 1920px;
    height: 1080px;
}

#title-bar {
    background-color: #E36950;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0%;
    left: 0%;
}

#collapsible {
    background-color: #E36950;
    border: none;
    height: 100px;
    width: 130px;
    cursor: pointer;
    position: relative;
    top: 0%;
    left: 0%;
}

#personal-profile {
    background-color: #E36950;
    border: none;
    height: 100px;
    width: 110px;
    cursor: pointer;
    position: fixed;
    top: 0%;
    right: 0%
}

#collapsible:hover, #personal-profile:hover {
    background-color: #E34D1F;
}

.modals {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.active-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#game-name {
    color: white;
    font-family: Metropolis;
    font-size: 50px;
    letter-spacing: 3px;
    position: fixed;
    top: -0.8%;
    left: 50%;
}

ion-icon {
    font-size: 45px;
    pointer-events: none;
}
