*
{
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}

.container
{
    width: 100%;
    height: 130vh;
    background: black ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup
{
    position: absolute;
    bottom: 10%;
    top: 10%;
    transform: translate(-1%,-1%) scale(0.1);
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s;
}

.close-popup
{
    visibility: hidden;
    backdrop-filter: blur(76px);
    transform: scale(0);
    transition: transform 0.1s;
}

@font-face
{
    font-family: Metropolis;
    src: url(Metropolis-Regular.otf);
}

.change_password
{
    width: 400px;
    height: 470px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0,3);
    background: #2B2B2B ;
    color: rgb(14, 14, 14);
    text-align:left;
    margin: 8% auto 8%;
    font-size: 13px;
    font-family: Metropolis;
}

.title1
{
    height: 25px;
    width: 100%;
    position: relative;
    background: #E36950;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: Metropolis;
    margin-bottom: 50px;
 }

.text2
{
    font-family: Metropolis;
    margin-left: 20px;
    margin-top: 50px;
    color: white;
    font-size: 15px;
}

.text3
{
    font-family: Metropolis;
    margin-left: 20px;
    margin-top: 25px;
    color: white;
    font-size: 15px;
}

.input-box
{
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 60%;
    height: 30px;
    border: 1px solid grey;
    font-family: Metropolis;
}

.btn
{
    position: center;
    background-color: #ea5206;
    color: rgb(244, 235, 235);
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    font-family: Metopolis;
    margin-top: 40px 0;
    margin-bottom: 20px;
    margin-left: 45%;
    border: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {background-color:#df6122;}
hr
{
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}