html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}


#menu-content {
    background-color: #212121;
    border: none;
    width: 200px;
    height: calc(100% - 50px);
    transition: width 0.3s;
    overflow: hidden;
    position: fixed;
    top: 50px;
    left: 0%;
}


#title-space {
    height: 8%;
    width: auto;
}


.menu-options {
    background-color: #212121;
    border: none;
    color: white;
    padding: 12px 18px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    font-family: Metropolis;
    letter-spacing: 1px;
    cursor: pointer;
    width: 200px;
}

.menu-options:hover {
    background-color: #383838;
}


.active_menu-options {
    background-color: #E36950;
    border: none;
    color: white;
    padding: 12px 18px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    font-family: Metropolis;
    letter-spacing: 1px;
    cursor: pointer;
    width: 200px;
}


#new-user-content {
    background-color: #212121;
    border: none;
    width: 200px;
    height: 100px;
    visibility: visible;
    transition: width 0.3s;
    position: absolute;
    bottom: 11%;
    overflow: hidden;
}


#options-space {
    display: none;
    height: 300px;
}
