:root {
    --bg-color: #2B2B2B;
    --theme-color: #E36950;
    --div-color: #212121;
    --font: 'Metropolis';
    --collapsible-div-width: 230px;
    --fixed-div-width: 230px;
}


html, body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}


#menu-content {
    background-color: var(--div-color);
    border: none;
    width: var(--collapsible-div-width);
    height: calc(100% - 40px);
    transition: width 0.3s;
    overflow: hidden;
    position: fixed;
    top: 45px;
    left: 0%;
    z-index: 80;
}


#title-space {
    height: 6%;
    width: auto;
}


.menu-options {
    background-color: var(--div-color);
    border: none;
    color: white;
    padding: 14px 18px;
    text-align: left;
    font-size: 21px;
    font-weight: 500;
    font-family: var(--font);
    letter-spacing: 1px;
    cursor: pointer;
    width: var(--fixed-div-width);
    user-select: none;
}

.menu-options:hover { background-color: #383838; }


.active_m-o { background-color: var(--theme-color); }
.active_m-o:hover { background-color: var(--theme-color); }


#new-user-content {
    background-color: var(--div-color);
    border: none;
    width: var(--fixed-div-width);
    height: 100px;
    visibility: visible;
    transition: width 0.3s;
    position: absolute;
    bottom: 11%;
    overflow: hidden;
}


#options-space {
    display: none;
    height: 300px;
}


#log-out-btn {
    position: relative;
    margin-top: 50px;
}


@media only screen and (max-width: 1500px) {
    :root { --collapsible-div-width: 0px; }
}
