#options-label {
    position: relative;
    font-family: Metropolis;
    font-weight: 600;
    color: white;
    font-size: 25px;
    letter-spacing: 0.3px;
    left: 16%;
    user-select: none;
}


#separator {
    display: flex;
    position: relative;
    width: 260px;
    margin-top: -3px;
    justify-self: center;
    color: white;
    border: 0;
    border-top: 1.2px solid white;
    border-color: white;
}


#go-heading-space {
    height: 28px;
    width: auto;
}


.space {
    height: 10px;
    width: auto;
}


#game-options {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #212121;
    width: 310px;
    height: 450px;
    border-radius: 25px;
    position: relative;
    user-select: none;
}


#button-category {
    position: relative;
    margin-top: 13%;
    left: 14.8%;
}


.coloured-text { color: #E36950; }


.inactive-button {
    background-color: #2B2B2B;
    border: none;
    border-radius: 8px;
    font-family: Metropolis;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    width: 220px;
    height: 39px;
    align-content: center;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
}

.inactive-button:hover {
    background-color: #383838;
}


.active-button {
    background-color: #E36950;
    border: none;
    border-radius: 8px;
    font-family: Metropolis;
    font-size: 18px;
    font-weight: 500;
    color: white;
    width: 220px;
    height: 39px;
    text-align: center;
    align-content: center;
    letter-spacing: 1px;
    cursor: pointer;
}

.active-button:hover {
    background-color: #E36950;
}


.num-of-clues {
    position: relative;
    color: white;
    font-family: Metropolis;
    font-weight: 400;
    font-size: 13px;
    margin-top: 12px;
    left: 10.5%;
    letter-spacing: 0.4px;
}


#diff-info { display: none; }  /* Just for knowing the difficulty */
