.options-label {
    font-family: Metropolis;
    font-weight: 600;
    color: white;
    font-size: 25px;
}


.space {
    height: 10px;
    width: auto;
}


#game-options {
    background-color: #212121;
    width: 300px;
    height: 455px;
    border-radius: 15px;
    position: fixed;
    top: 30%;
    right: 15%;
    transform: translate(25%, 2%);
}


.inactive-button {
    background-color: #2B2B2B;
    border: none;
    border-radius: 5px;
    font-family: Metropolis;
    font-size: 15px;
    font-weight: 450;
    color: white;
    width: 195px;
    padding: 8px;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
}

.inactive-button:hover {
    background-color: #383838;
}


.active-button {
    background-color: #E36950;
    border: none;
    border-radius: 5px;
    font-family: Metropolis;
    font-size: 15px;
    font-weight: 450;
    color: white;
    width: 195px;
    padding: 8px;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
}

.active-button:hover {
    background-color: #E36950;
}
