#signup-modal-content {
    margin: 4% auto auto auto;
    background-color: white;
    padding: 30px;
    width: 450px;
    height: 645px;
    border-radius: 25px;
    z-index: 120;
}


#signup-heading {
    color: black;
    font-family: Metropolis;
    font-size: 30px;
    position: relative;
    left: 2%;
    top: -1%;
}

.coloured-text { color: #E36950; }


#register-text {
    position: relative;
    left: 2.5%;
    top: -6%;
    font-family: Metropolis;
    font-size: 15px;
    font-weight: 500;
    color: #777777;
}


#signup-form {
    position: relative;
    margin-top: -9%;
}


#dob-head { margin-top: -7px; }  /* -21px when two lines, -7px when one */

#phash-head { margin-top: -21px; }

.input-heading {
    position: relative;
    left: 2.5%;
    font-family: Metropolis; 
    font-size: 15px;
    font-weight: 600;
}


.signup-inputs {
    border: solid 2px;
    border-color: #BEBEBE;
    border-radius: 10px;
    font-family: Metropolis;
    padding: 12.5px 15px;
    width: 395px;
    position: relative;
    left: 2%;
    margin-top: -18px;
    font-size: 14.5px;
}


#phash-view-toggle {
    display: flex;
    position: absolute;
    bottom: 31.8%;
    right: 38.2%;
    background-color: white;
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
}

#phash-view-toggle:focus-visible { outline: none; }

#show-phash-icon {
    display: block;
    position: absolute;
    justify-content: center;
    align-self: center;
}

#hide-phash-icon {
    display: none;
    position: absolute;
    justify-content: center;
    align-self: center;
}


#email-NE { visibility: visible; }

#phash-NE { 
    visibility: visible;
    color: #777777;
}

.not-entered {
    position: relative;
    left: 3%;
    margin-top: 9px;
    font-family: Metropolis;
    color: red;
    font-size: 14px;
    visibility: visible;
    font-weight: 400;
}


.input-field-space { height: 5px; }


#signup-button-space { height: 8px; }


#signup-button {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: Metropolis;
    font-weight: 700;
    background-color: #E36950;
    color: white;
    padding: 10px 40px;
    text-align: center;
    position: relative;
    left: 2.5%;
    cursor: pointer;
}


#login-option-text {
    font-family: Metropolis;
    font-size: 18px;
    position: relative;
    left: 2.5%;
    font-weight: 500;
    margin-top: 10px;
}

#login-link {
    font-family: Metropolis;
    font-weight: 500;
    font-size: 18px;
}
